# **Data science internship assignement - Dealroom.co**
*Done by Oc√©ane Salmeron, December 2020*

## 1. Import libraries

In [401]:
import pandas as pd
import numpy as np
from collections import Counter

# Make numpy values easier to read.
np.set_printoptions(precision=3, suppress=True)

## 2. Import Data

In [402]:
file = 'Data/Data_Science_Internship_Assignment.xlsx'
data = pd.ExcelFile(file)
print(data.sheet_names)
df = data.parse('Data')

['Instructions', 'Data', 'Count', 'Scraping results']

Let's take a look at our raw data, and get more information about it with .shape and .info()

In [403]:
df.head(2)

,NAME,WEBSITE,TAGLINE,HQ REGION,HQ COUNTRY,HQ CITY,TAGS,LAUNCH DATE,GROWTH STAGE,LINKEDIN,TYPE
0,63336,http://63336.com,Ai-enabled q&a service that answers to various...,Europe,United Kingdom,London,mobile,"2002, September",late growth stage,NaN,NaN
1,@Futsal,http://futsaluk.net,Educational courses through the medium of spor...,Europe,United Kingdom,Birmingham,NaN,2008,early growth stage,https://www.linkedin.com/company/-futsal-group...,NaN

In [404]:
df.shape

(11582, 11)

In [405]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11582 entries, 0 to 11581
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   NAME          11582 non-null  object
 1   WEBSITE       11582 non-null  object
 2   TAGLINE       11453 non-null  object
 3   HQ REGION     11582 non-null  object
 4   HQ COUNTRY    11582 non-null  object
 5   HQ CITY       10908 non-null  object
 6   TAGS          9593 non-null   object
 7   LAUNCH DATE   11582 non-null  object
 8   GROWTH STAGE  8584 non-null   object
 9   LINKEDIN      8596 non-null   object
 10  TYPE          0 non-null      float64
dtypes: float64(1), object(10)
memory usage: 995.5+ KB

Our data has 11582 entries and 11 columns.

In [406]:
df.isna().sum()

NAME                0
WEBSITE             0
TAGLINE           129
HQ REGION           0
HQ COUNTRY          0
HQ CITY           674
TAGS             1989
LAUNCH DATE         0
GROWTH STAGE     2998
LINKEDIN         2986
TYPE            11582
dtype: int64

## 2. Cleaning the Data

First let's drop the column that are not relevant to our task.

In [407]:
df = df.drop(['WEBSITE', 'HQ REGION', 'HQ COUNTRY', 'HQ CITY', 'GROWTH STAGE', 'LINKEDIN'], axis=1)

In [408]:
df['LAUNCH DATE'] = pd.to_datetime(df['LAUNCH DATE'].astype(str), errors="coerce").dt.year

In [409]:
df.head(3)

,NAME,TAGLINE,TAGS,LAUNCH DATE,TYPE
0,63336,Ai-enabled q&a service that answers to various...,mobile,2002.0,NaN
1,@Futsal,Educational courses through the medium of spor...,NaN,2008.0,NaN
2,#5 Magazine,Multi-platform digital lifestyle magazines abo...,publishing;branding;media;platform;entertainment,2007.0,NaN

In [410]:
def clean_text(x):
    x = x.astype(str)
    x = x.str.replace(r'[^\w\s]','')
    x = x.str.replace('\d+', '')
    x = x.str.lower() 
    return x

In [411]:
df['TAGS'] = df['TAGS'].str.split(pat=';')
df.loc[df['TAGS'].isnull(), 'TAGS'] = df.loc[df['TAGS'].isnull(), 'TAGS'].apply(lambda x: [])

df.head()

,NAME,TAGLINE,TAGS,LAUNCH DATE,TYPE
0,63336,Ai-enabled q&a service that answers to various...,[mobile],2002.0,NaN
1,@Futsal,Educational courses through the medium of spor...,[],2008.0,NaN
2,#5 Magazine,Multi-platform digital lifestyle magazines abo...,"[publishing, branding, media, platform, entert...",2007.0,NaN
3,03Numbers,Planet Numbers are the leading provider of 03 ...,[],2008.0,NaN
4,077football News & Media,"077Football - the deep-rooted, hyperlocal foot...","[sport, advertising, football, network, game d...",2009.0,NaN

In [412]:
#Stopwords list from https://github.com/Yoast/YoastSEO.js/blob/develop/src/config/stopwords.js
stopwords = [ "a", "about", "above", "after", "again", "against", "all", "am", "an", "and", "any", "are", "as", "at", "be", "because", "been", "before", "being", "below", "between", "both", "but", "by", "could", "did", "do", "does", "doing", "down", "during", "each", "few", "for", "from", "further", "had", "has", "have", "having", "he", "he'd", "he'll", "he's", "her", "here", "here's", "hers", "herself", "him", "himself", "his", "how", "how's", "i", "i'd", "i'll", "i'm", "i've", "if", "in", "into", "is", "it", "it's", "its", "itself", "let's", "me", "more", "most", "my", "myself", "nor", "of", "on", "once", "only", "or", "other", "ought", "our", "ours", "ourselves", "out", "over", "own", "same", "she", "she'd", "she'll", "she's", "should", "so", "some", "such", "than", "that", "that's", "the", "their", "theirs", "them", "themselves", "then", "there", "there's", "these", "they", "they'd", "they'll", "they're", "they've", "this", "those", "through", "to", "too", "under", "until", "up", "very", "was", "we", "we'd", "we'll", "we're", "we've", "were", "what", "what's", "when", "when's", "where", "where's", "which", "while", "who", "who's", "whom", "why", "why's", "with", "would", "you", "you'd", "you'll", "you're", "you've", "your", "yours", "yourself", "yourselves" ]

In [413]:
df['TAGLINE']= clean_text(df['TAGLINE'])
df['TAGLINE'] = df['TAGLINE'].str.strip()
df['TAGLINE']= df['TAGLINE'].apply(lambda x: [item for item in x.split() if item not in stopwords] if(np.all(pd.notnull(x))) else x)
df.loc[df['TAGLINE'].isnull(), 'TAGLINE'] = df.loc[df['TAGLINE'].isnull(), 'TAGLINE'].apply(lambda x: [])

df.head()

,NAME,TAGLINE,TAGS,LAUNCH DATE,TYPE
0,63336,"[aienabled, qa, service, answers, various, que...",[mobile],2002.0,NaN
1,@Futsal,"[educational, courses, medium, sports, childre...",[],2008.0,NaN
2,#5 Magazine,"[multiplatform, digital, lifestyle, magazines,...","[publishing, branding, media, platform, entert...",2007.0,NaN
3,03Numbers,"[planet, numbers, leading, provider, numbers, ...",[],2008.0,NaN
4,077football News & Media,"[football, deeprooted, hyperlocal, football, n...","[sport, advertising, football, network, game d...",2009.0,NaN

In [414]:
df.isna().sum()

NAME               0
TAGLINE            0
TAGS               0
LAUNCH DATE        3
TYPE           11582
dtype: int64

In [415]:
df['ALL']=df['TAGS']+df['TAGLINE']
df.head()

,NAME,TAGLINE,TAGS,LAUNCH DATE,TYPE,ALL
0,63336,"[aienabled, qa, service, answers, various, que...",[mobile],2002.0,NaN,"[mobile, aienabled, qa, service, answers, vari..."
1,@Futsal,"[educational, courses, medium, sports, childre...",[],2008.0,NaN,"[educational, courses, medium, sports, childre..."
2,#5 Magazine,"[multiplatform, digital, lifestyle, magazines,...","[publishing, branding, media, platform, entert...",2007.0,NaN,"[publishing, branding, media, platform, entert..."
3,03Numbers,"[planet, numbers, leading, provider, numbers, ...",[],2008.0,NaN,"[planet, numbers, leading, provider, numbers, ..."
4,077football News & Media,"[football, deeprooted, hyperlocal, football, n...","[sport, advertising, football, network, game d...",2009.0,NaN,"[sport, advertising, football, network, game d..."

# 3. Classification

In [416]:
tags = list(df['TAGLINE'].explode().values)
tags= Counter(tags)
tags.most_common()

[('services', 1090),
 ('company', 1047),
 ('solutions', 1040),
 ('software', 851),
 ('online', 810),
 ('uk', 683),
 ('business', 661),
 ('management', 660),
 ('technology', 603),
 ('digital', 586),
 ('provider', 548),
 ('marketing', 524),
 ('leading', 496),
 ('development', 451),
 ('design', 440),
 ('mobile', 431),
 ('service', 416),
 ('products', 399),
 ('based', 387),
 ('data', 365),
 ('platform', 356),
 ('agency', 355),
 ('media', 354),
 ('web', 352),
 ('home', 342),
 ('global', 334),
 ('systems', 329),
 ('businesses', 289),
 ('social', 289),
 ('london', 277),
 ('industry', 269),
 ('website', 252),
 ('providing', 250),
 ('group', 240),
 ('people', 235),
 ('support', 231),
 ('specialist', 229),
 ('companies', 216),
 ('content', 216),
 ('market', 213),
 ('independent', 211),
 ('ltd', 211),
 ('one', 203),
 ('cloud', 194),
 ('range', 192),
 ('network', 191),
 ('new', 191),
 ('information', 190),
 ('world', 188),
 ('security', 188),
 ('innovative', 187),
 ('provide', 184),
 ('quality', 184),
 ('news', 182),
 ('international', 181),
 ('uks', 178),
 ('energy', 177),
 ('financial', 175),
 ('consultancy', 168),
 ('high', 164),
 ('community', 163),
 ('users', 160),
 ('help', 158),
 ('video', 158),
 ('search', 157),
 ('recruitment', 157),
 ('games', 152),
 ('communications', 152),
 ('creative', 149),
 ('offering', 146),
 ('training', 146),
 ('across', 146),
 ('provides', 142),
 ('best', 142),
 ('free', 141),
 ('property', 140),
 ('applications', 139),
 ('small', 138),
 ('technologies', 135),
 ('care', 135),
 ('research', 133),
 ('commercial', 131),
 ('nan', 129),
 ('music', 129),
 ('professional', 128),
 ('internet', 127),
 ('brand', 127),
 ('clients', 127),
 ('specialists', 124),
 ('can', 123),
 ('focused', 123),
 ('customer', 123),
 ('solution', 122),
 ('enterprise', 122),
 ('health', 121),
 ('production', 120),
 ('insurance', 120),
 ('supplier', 120),
 ('operates', 120),
 ('system', 119),
 ('create', 118),
 ('sector', 118),
 ('specialising', 117),
 ('worlds', 117),
 ('app', 116),
 ('united', 116),
 ('developing', 114),
 ('customers', 113),
 ('tools', 112),
 ('helps', 111),
 ('experience', 110),
 ('develops', 109),
 ('delivery', 109),
 ('medical', 108),
 ('travel', 106),
 ('firm', 106),
 ('private', 105),
 ('ecommerce', 105),
 ('developer', 104),
 ('kingdom', 104),
 ('advertising', 104),
 ('performance', 102),
 ('worldwide', 102),
 ('enables', 100),
 ('delivering', 100),
 ('make', 100),
 ('markets', 99),
 ('hosting', 98),
 ('product', 98),
 ('car', 98),
 ('offer', 97),
 ('brands', 96),
 ('work', 96),
 ('site', 94),
 ('learning', 94),
 ('consulting', 93),
 ('designs', 93),
 ('first', 92),
 ('sports', 91),
 ('find', 91),
 ('build', 89),
 ('events', 89),
 ('around', 88),
 ('winning', 88),
 ('full', 86),
 ('building', 86),
 ('supplies', 86),
 ('power', 86),
 ('engineering', 86),
 ('sales', 85),
 ('largest', 84),
 ('experts', 84),
 ('analysis', 84),
 ('corporate', 84),
 ('food', 84),
 ('time', 83),
 ('equipment', 83),
 ('use', 83),
 ('public', 82),
 ('dedicated', 82),
 ('award', 82),
 ('healthcare', 82),
 ('organisations', 81),
 ('leader', 81),
 ('application', 81),
 ('using', 81),
 ('team', 80),
 ('real', 79),
 ('retail', 79),
 ('limited', 79),
 ('manufactures', 79),
 ('integrated', 78),
 ('intelligence', 78),
 ('control', 77),
 ('local', 77),
 ('analytics', 77),
 ('gas', 76),
 ('including', 76),
 ('distribution', 75),
 ('websites', 75),
 ('education', 75),
 ('smart', 75),
 ('managed', 74),
 ('payment', 74),
 ('providers', 74),
 ('live', 74),
 ('specialises', 73),
 ('platforms', 73),
 ('helping', 72),
 ('fashion', 72),
 ('engine', 71),
 ('finance', 71),
 ('offers', 71),
 ('monitoring', 71),
 ('unique', 71),
 ('devices', 71),
 ('specializes', 71),
 ('awardwinning', 70),
 ('deliver', 70),
 ('share', 70),
 ('manage', 70),
 ('us', 69),
 ('virtual', 69),
 ('sectors', 69),
 ('trading', 69),
 ('office', 68),
 ('seo', 68),
 ('life', 68),
 ('delivers', 68),
 ('simple', 68),
 ('risk', 67),
 ('get', 67),
 ('entertainment', 67),
 ('innovation', 66),
 ('founded', 66),
 ('industries', 66),
 ('tv', 66),
 ('wide', 65),
 ('jobs', 65),
 ('supply', 65),
 ('professionals', 65),
 ('sale', 65),
 ('way', 65),
 ('investment', 65),
 ('apps', 65),
 ('marketplace', 64),
 ('store', 64),
 ('automation', 64),
 ('electronic', 64),
 ('technical', 64),
 ('established', 64),
 ('secure', 64),
 ('d', 63),
 ('game', 63),
 ('access', 63),
 ('allows', 63),
 ('no', 62),
 ('pharmaceutical', 62),
 ('latest', 62),
 ('welcome', 62),
 ('consumer', 62),
 ('computer', 61),
 ('designed', 61),
 ('personal', 61),
 ('easy', 61),
 ('legal', 61),
 ('advanced', 61),
 ('bespoke', 61),
 ('cost', 61),
 ('ukbased', 60),
 ('storage', 60),
 ('testing', 60),
 ('money', 60),
 ('realtime', 60),
 ('retailer', 60),
 ('direct', 59),
 ('projects', 59),
 ('creating', 59),
 ('accessories', 59),
 ('manufacturer', 59),
 ('networks', 59),
 ('infrastructure', 58),
 ('capital', 58),
 ('oil', 58),
 ('asset', 57),
 ('individuals', 57),
 ('working', 57),
 ('partner', 57),
 ('interactive', 57),
 ('improve', 57),
 ('advice', 57),
 ('generation', 57),
 ('construction', 56),
 ('growing', 56),
 ('affordable', 55),
 ('project', 55),
 ('europe', 55),
 ('developers', 55),
 ('process', 55),
 ('gaming', 55),
 ('phone', 55),
 ('develop', 55),
 ('buy', 55),
 ('tech', 54),
 ('need', 54),
 ('studio', 54),
 ('discovery', 54),
 ('better', 54),
 ('price', 54),
 ('email', 53),
 ('needs', 53),
 ('wireless', 53),
 ('compliance', 53),
 ('effective', 53),
 ('centre', 53),
 ('reviews', 53),
 ('organisation', 52),
 ('homes', 52),
 ('open', 51),
 ('well', 51),
 ('print', 51),
 ('strategy', 51),
 ('communication', 50),
 ('will', 50),
 ('retailers', 50),
 ('drug', 50),
 ('related', 50),
 ('students', 50),
 ('years', 49),
 ('estate', 49),
 ('sell', 49),
 ('making', 49),
 ('manufacturing', 49),
 ('creates', 49),
 ('ideas', 49),
 ('trade', 49),
 ('shop', 49),
 ('engagement', 48),
 ('large', 48),
 ('luxury', 48),
 ('exchange', 48),
 ('top', 48),
 ('expert', 48),
 ('shopping', 47),
 ('contact', 47),
 ('clinical', 47),
 ('planning', 47),
 ('water', 47),
 ('treatment', 47),
 ('together', 47),
 ('organizations', 47),
 ('veterinary', 47),
 ('connect', 46),
 ('developed', 46),
 ('art', 46),
 ('vehicle', 46),
 ('used', 46),
 ('comparison', 46),
 ('voice', 46),
 ('premium', 46),
 ('event', 46),
 ('british', 46),
 ('low', 45),
 ('tool', 45),
 ('focuses', 45),
 ('protection', 45),
 ('hire', 45),
 ('source', 45),
 ('now', 45),
 ('advisory', 45),
 ('audio', 45),
 ('produces', 44),
 ('publishing', 44),
 ('manufacture', 44),
 ('every', 44),
 ('big', 43),
 ('agencies', 43),
 ('deals', 43),
 ('within', 43),
 ('designer', 43),
 ('via', 43),
 ('since', 42),
 ('consumers', 42),
 ('bb', 42),
 ('space', 42),
 ('cloudbased', 42),
 ('prices', 42),
 ('job', 42),
 ('fast', 42),
 ('value', 41),
 ('processing', 41),
 ('operating', 41),
 ('intelligent', 41),
 ('expertise', 41),
 ('plc', 41),
 ('young', 41),
 ('payments', 41),
 ('specialise', 40),
 ('england', 40),
 ('specializing', 40),
 ('resources', 40),
 ('pr', 40),
 ('house', 40),
 ('science', 40),
 ('made', 40),
 ('imaging', 40),
 ('enabling', 40),
 ('visual', 40),
 ('experiences', 40),
 ('human', 39),
 ('works', 39),
 ('crm', 39),
 ('broadband', 39),
 ('film', 39),
 ('tracking', 39),
 ('loans', 39),
 ('children', 38),
 ('device', 38),
 ('mission', 38),
 ('materials', 38),
 ('practice', 38),
 ('document', 38),
 ('resource', 38),
 ('talent', 38),
 ('next', 38),
 ('compare', 38),
 ('connectivity', 37),
 ('chain', 37),
 ('networking', 37),
 ('clothing', 37),
 ('focus', 37),
 ('hardware', 37),
 ('cleaning', 37),
 ('page', 37),
 ('microsoft', 37),
 ('field', 37),
 ('operators', 37),
 ('waste', 37),
 ('restaurants', 37),
 ('furniture', 37),
 ('hr', 36),
 ('law', 36),
 ('hotels', 36),
 ('school', 36),
 ('growth', 36),
 ('great', 36),
 ('like', 36),
 ('single', 36),
 ('television', 36),
 ('maintenance', 35),
 ('card', 35),
 ('connecting', 35),
 ('campaigns', 35),
 ('accounting', 35),
 ('cars', 35),
 ('natural', 35),
 ('safety', 35),
 ('integration', 35),
 ('variety', 35),
 ('strategic', 35),
 ('courses', 34),
 ('domain', 34),
 ('hotel', 34),
 ('flexible', 34),
 ('collaboration', 34),
 ('sites', 34),
 ('things', 34),
 ('north', 34),
 ('right', 34),
 ('operations', 34),
 ('call', 34),
 ('complete', 33),
 ('startups', 33),
 ('set', 33),
 ('also', 33),
 ('contract', 33),
 ('national', 33),
 ('holiday', 33),
 ('selling', 33),
 ('radio', 33),
 ('transfer', 33),
 ('residential', 33),
 ('test', 32),
 ('electrical', 32),
 ('printing', 32),
 ('reporting', 32),
 ('exploration', 32),
 ('cancer', 32),
 ('renewable', 32),
 ('day', 32),
 ('change', 32),
 ('offices', 32),
 ('order', 32),
 ('telecommunications', 32),
 ('portfolio', 32),
 ('east', 32),
 ('premier', 32),
 ('book', 32),
 ('entrepreneurs', 32),
 ('various', 31),
 ('industrial', 31),
 ('fully', 31),
 ('operator', 31),
 ('serving', 31),
 ('class', 31),
 ('database', 31),
 ('countries', 31),
 ('magazine', 31),
 ('air', 31),
 ('want', 31),
 ('automotive', 31),
 ('consultants', 31),
 ('follow', 31),
 ('twitter', 31),
 ('enterprises', 31),
 ('engages', 31),
 ('led', 31),
 ('environment', 31),
 ('skills', 31),
 ('airport', 31),
 ('many', 31),
 ('phones', 31),
 ('packaging', 31),
 ('telecoms', 31),
 ('bringing', 31),
 ('recovery', 31),
 ('solar', 31),
 ('sms', 31),
 ('efficient', 30),
 ('lighting', 30),
 ('sells', 30),
 ('increase', 30),
 ('distributor', 30),
 ('banking', 30),
 ('highly', 30),
 ('rental', 30),
 ('areas', 30),
 ('processes', 30),
 ('investors', 30),
 ('run', 30),
 ('discover', 30),
 ('employee', 30),
 ('educational', 29),
 ('lifestyle', 29),
 ('computing', 29),
 ('reliable', 29),
 ('automated', 29),
 ('booking', 29),
 ('electronics', 29),
 ('charity', 29),
 ('suppliers', 29),
 ('features', 29),
 ('properties', 29),
 ('privately', 29),
 ('manufacturers', 29),
 ('throughout', 29),
 ('opportunities', 29),
 ('cash', 29),
 ('play', 29),
 ('rapid', 28),
 ('cyber', 28),
 ('saas', 28),
 ('interest', 28),
 ('translation', 28),
 ('schools', 28),
 ('broker', 28),
 ('transport', 28),
 ('end', 28),
 ('south', 28),
 ('custom', 28),
 ('indian', 28),
 ('multichannel', 28),
 ('collection', 28),
 ('owned', 28),
 ('good', 28),
 ('distributes', 28),
 ('reputation', 28),
 ('level', 28),
 ('place', 28),
 ('rent', 28),
 ('branding', 27),
 ('central', 27),
 ('sustainable', 27),
 ('van', 27),
 ('wedding', 27),
 ('results', 27),
 ('housing', 27),
 ('supporting', 27),
 ('publisher', 27),
 ('assets', 27),
 ('messaging', 27),
 ('year', 27),
 ('complex', 27),
 ('cheap', 27),
 ('optimisation', 27),
 ('engaged', 27),
 ('telecom', 27),
 ('area', 27),
 ('recycling', 27),
 ('love', 27),
 ('available', 27),
 ('agents', 27),
 ('gifts', 26),
 ('manchester', 26),
 ('vision', 26),
 ('not', 26),
 ('diagnostic', 26),
 ('modern', 26),
 ('take', 26),
 ('globally', 26),
 ('gold', 26),
 ('firms', 26),
 ('trusted', 26),
 ('knowledge', 26),
 ('enable', 26),
 ('partners', 26),
 ('facebook', 26),
 ('components', 26),
 ('environmental', 26),
 ('credit', 26),
 ('pay', 26),
 ('european', 26),
 ('bring', 26),
 ('photography', 26),
 ('language', 26),
 ('client', 26),
 ('connects', 26),
 ('number', 25),
 ('allowing', 25),
 ('workforce', 25),
 ('de', 25),
 ('publishers', 25),
 ('animation', 25),
 ('installation', 25),
 ('ireland', 25),
 ('artists', 25),
 ('everything', 25),
 ('scientific', 25),
 ('webbased', 25),
 ('endtoend', 25),
 ('brings', 25),
 ('restaurant', 25),
 ('portal', 25),
 ('scotland', 25),
 ('account', 25),
 ('experienced', 25),
 ('facilities', 25),
 ('aims', 25),
 ('medium', 24),
 ('android', 24),
 ('pc', 24),
 ('promote', 24),
 ('dynamic', 24),
 ('organic', 24),
 ('hospitality', 24),
 ('backup', 24),
 ('makes', 24),
 ('repair', 24),
 ('created', 24),
 ('just', 24),
 ('tailored', 24),
 ('reality', 24),
 ('designers', 24),
 ('internationally', 24),
 ('rights', 24),
 ('official', 24),
 ('specialized', 24),
 ('animal', 24),
 ('owners', 24),
 ('boutique', 24),
 ('transform', 24),
 ('builds', 24),
 ('staff', 24),
 ('family', 24),
 ('videos', 24),
 ('blog', 24),
 ('sharing', 24),
 ('daily', 24),
 ('insight', 24),
 ('servers', 23),
 ('drive', 23),
 ('meet', 23),
 ('active', 23),
 ('user', 23),
 ('cell', 23),
 ('optimization', 23),
 ('friendly', 23),
 ('biotechnology', 23),
 ('multiple', 23),
 ('supplying', 23),
 ('engineers', 23),
 ('beauty', 23),
 ('comprehensive', 23),
 ('efficiency', 23),
 ('productivity', 23),
 ('future', 23),
 ('powerful', 23),
 ('producing', 23),
 ('sensors', 23),
 ('buying', 23),
 ('grow', 23),
 ('today', 23),
 ('engage', 23),
 ('domestic', 23),
 ('fitness', 23),
 ('members', 23),
 ('sport', 23),
 ('lead', 23),
 ('holidays', 22),
 ('cards', 22),
 ('powered', 22),
 ('managing', 22),
 ('fun', 22),
 ('mining', 22),
 ('city', 22),
 ('marine', 22),
 ('two', 22),
 ('fuel', 22),
 ('funding', 22),
 ('carbon', 22),
 ('critical', 22),
 ('alternative', 22),
 ('equity', 22),
 ('start', 22),
 ('transformation', 22),
 ('betting', 22),
 ('tax', 22),
 ('part', 22),
 ('wine', 22),
 ('accommodation', 22),
 ('procurement', 22),
 ('west', 22),
 ('hosted', 21),
 ('centres', 21),
 ('iphone', 21),
 ('feedback', 21),
 ('creation', 21),
 ('beste', 21),
 ('bron', 21),
 ('informatie', 21),
 ('startup', 21),
 ('telephone', 21),
 ('laser', 21),
 ('capture', 21),
 ('diseases', 21),
 ('diagnostics', 21),
 ('billing', 21),
 ('major', 21),
 ('communities', 21),
 ('location', 21),
 ('fastest', 21),
 ('original', 21),
 ('broadcast', 21),
 ('organization', 21),
 ('body', 21),
 ('exclusive', 21),
 ('groups', 21),
 ('commerce', 21),
 ('ip', 21),
 ('sound', 21),
 ('insights', 21),
 ('strategies', 21),
 ('co', 21),
 ('logistics', 21),
 ('point', 21),
 ('agent', 20),
 ('graphic', 20),
 ('culture', 20),
 ('worldclass', 20),
 ('outsourcing', 20),
 ('friends', 20),
 ('ppc', 20),
 ('driven', 20),
 ('monitor', 20),
 ('problems', 20),
 ('general', 20),
 ('iot', 20),
 ('drugs', 20),
 ('designing', 20),
 ('electricity', 20),
 ('environments', 20),
 ('become', 20),
 ('activities', 20),
 ('meeting', 20),
 ('improving', 20),
 ('personalized', 20),
 ('key', 20),
 ('beautiful', 20),
 ('different', 20),
 ('send', 20),
 ('programs', 20),
 ('image', 20),
 ('looking', 20),
 ('novel', 19),
 ('outstanding', 19),
 ('smes', 19),
 ('fund', 19),
 ('manages', 19),
 ('deze', 19),
 ('te', 19),
 ('koop', 19),
 ('directory', 19),
 ('highquality', 19),
 ('suite', 19),
 ('assessment', 19),
 ('located', 19),
 ('elearning', 19),
 ('label', 19),
 ('text', 19),
 ('delivered', 19),
 ('emerging', 19),
 ('track', 19),
 ('reach', 19),
 ('stock', 19),
 ('specialised', 19),
 ('flights', 19),
 ('parking', 19),
 ('channel', 19),
 ('produce', 19),
 ('aim', 19),
 ('catering', 19),
 ('remote', 19),
 ('niche', 19),
 ('women', 19),
 ('record', 19),
 ('pet', 19),
 ('branded', 19),
 ('tickets', 19),
 ('items', 19),
 ('connected', 19),
 ('teams', 19),
 ('oxford', 19),
 ('identity', 18),
 ('merchants', 18),
 ('decision', 18),
 ('windows', 18),
 ('screening', 18),
 ('vehicles', 18),
 ('heating', 18),
 ('kent', 18),
 ('stage', 18),
 ('achieve', 18),
 ('display', 18),
 ('motor', 18),
 ('exciting', 18),
 ('venture', 18),
 ('personalised', 18),
 ('covering', 18),
 ('bank', 18),
 ('club', 18),
 ('writing', 18),
 ('everyone', 18),
 ('heat', 18),
 ('early', 18),
 ('save', 18),
 ('reduce', 18),
 ('londonbased', 18),
 ('globe', 18),
 ('street', 18),
 ('wholesale', 18),
 ('books', 18),
 ('registered', 18),
 ('server', 18),
 ('films', 18),
 ('leaders', 18),
 ('core', 18),
 ('chat', 18),
 ('approach', 18),
 ('supports', 18),
 ('desktop', 18),
 ('short', 18),
 ('living', 18),
 ('currency', 18),
 ('football', 17),
 ('name', 17),
 ('tablet', 17),
 ('rooms', 17),
 ('requirements', 17),
 ('banks', 17),
 ('managers', 17),
 ('manager', 17),
 ('cambridge', 17),
 ('wealth', 17),
 ('safe', 17),
 ('discount', 17),
 ('packages', 17),
 ('bristol', 17),
 ('producer', 17),
 ('treatments', 17),
 ('patients', 17),
 ('term', 17),
 ('aircraft', 17),
 ('edge', 17),
 ('arts', 17),
 ('quickly', 17),
 ('dental', 17),
 ('driving', 17),
 ('audiences', 17),
 ('agile', 17),
 ('google', 17),
 ('focusing', 17),
 ('traditional', 17),
 ('selection', 17),
 ('built', 17),
 ('extensive', 17),
 ('guides', 17),
 ('semiconductor', 17),
 ('lets', 17),
 ('engaging', 17),
 ('issues', 17),
 ('garden', 17),
 ('existing', 17),
 ('multi', 17),
 ('covers', 17),
 ('popular', 17),
 ('excellence', 17),
 ('primarily', 17),
 ('executive', 17),
 ('loan', 17),
 ('owns', 17),
 ('audience', 16),
 ('interaction', 16),
 ('relations', 16),
 ('successful', 16),
 ('savings', 16),
 ('photos', 16),
 ('photo', 16),
 ('practical', 16),
 ('internal', 16),
 ('style', 16),
 ('jewellery', 16),
 ('blinds', 16),
 ('accountants', 16),
 ('flooring', 16),
 ('wellbeing', 16),
 ('long', 16),
 ('cable', 16),
 ('cutting', 16),
 ('claims', 16),
 ('efficiently', 16),
 ('edinburgh', 16),
 ('measurement', 16),
 ('go', 16),
 ('detection', 16),
 ('dynamics', 16),
 ('fields', 16),
 ('leads', 16),
 ('communicate', 16),
 ('tests', 16),
 ('therapy', 16),
 ('without', 16),
 ('collaborative', 16),
 ('wood', 16),
 ('precision', 16),
 ('employees', 16),
 ('taxi', 16),
 ('saving', 16),
 ('rapidly', 16),
 ('review', 16),
 ('discounts', 16),
 ('visit', 16),
 ('plastic', 16),
 ('facility', 16),
 ('foreign', 16),
 ('mobility', 16),
 ('student', 16),
 ('physical', 16),
 ('room', 16),
 ('blue', 16),
 ('enhance', 16),
 ('surveillance', 16),
 ('partnership', 16),
 ('chemical', 16),
 ('gambling', 16),
 ('types', 16),
 ('utilities', 16),
 ('costs', 16),
 ('protect', 16),
 ('thousands', 16),
 ('tips', 16),
 ('heart', 16),
 ('ultimate', 16),
 ('post', 16),
 ('channels', 16),
 ('models', 16),
 ('english', 16),
 ('sap', 16),
 ('numbers', 15),
 ('contracts', 15),
 ('revenue', 15),
 ('case', 15),
 ('favourite', 15),
 ('st', 15),
 ('york', 15),
 ('perfect', 15),
 ('bar', 15),
 ('documents', 15),
 ('teachers', 15),
 ('associated', 15),
 ('flight', 15),
 ('employment', 15),
 ('rd', 15),
 ('offshore', 15),
 ('fx', 15),
 ('brokers', 15),
 ('erp', 15),
 ('hand', 15),
 ('fire', 15),
 ('guide', 15),
 ('proven', 15),
 ('patented', 15),
 ('hair', 15),
 ('scale', 15),
 ('government', 15),
 ('transfers', 15),
 ('therapeutics', 15),
 ('streaming', 15),
 ('installs', 15),
 ('smartphone', 15),
 ('contractors', 15),
 ...]

In [417]:
tech=['software', 'mobile', 'design', 'data', 'deep tech', 'search engine', 'cloud technology', 'saas', 'video',
     'adtech', 'app', 'cleantech', 'e-commerce', 'fintech', 'regtech compliance', 'consulting services', 'hardware',
     'online', 'monitoring', 'social media', 'analytics', 'game', 'technology', 'enterprise software', 'big data',
     'tech', 'it', 'wireless technology', 'developer tools', 'seo', 'data analytics', 'imaging technology']
education=['21st century skills', 'research','educational','student', 'university', 'school', 'certification', 
           'e-learnin', 'study', 'studies', 'tutorials', 'academic','assesment','academic','academics', 'learning',
          'skills', 'teach', 'teacher']
government=['charity','medical / healthcare']

In [418]:
def classify(x, tech, education, government):
    
    dic = {'Startup' : len(set(x['ALL'])&set(tech)),
            'Universities/Schools' : len(set(x['ALL'])&set(education)),
            'Government/Non-profit' : len(set(x['ALL'])&set(government))
           }
    
    maximum = max(dic, key=dic.get)
    entity = maximum
    
    if(dic[maximum] == 0):
        if (x['LAUNCH DATE']<1990):
            entity = 'Mature'
        else :
            entity = 'Unclassified'
    
    elif (maximum == 'Startup'):
        if (x['LAUNCH DATE']<1990):
            entity = 'Mature'
            
    return entity

In [419]:
df['TYPE']=df.apply(classify, args=(tech, education, government), axis=1)

In [420]:
df.head()

,NAME,TAGLINE,TAGS,LAUNCH DATE,TYPE,ALL
0,63336,"[aienabled, qa, service, answers, various, que...",[mobile],2002.0,Startup,"[mobile, aienabled, qa, service, answers, vari..."
1,@Futsal,"[educational, courses, medium, sports, childre...",[],2008.0,Universities/Schools,"[educational, courses, medium, sports, childre..."
2,#5 Magazine,"[multiplatform, digital, lifestyle, magazines,...","[publishing, branding, media, platform, entert...",2007.0,Unclassified,"[publishing, branding, media, platform, entert..."
3,03Numbers,"[planet, numbers, leading, provider, numbers, ...",[],2008.0,Unclassified,"[planet, numbers, leading, provider, numbers, ..."
4,077football News & Media,"[football, deeprooted, hyperlocal, football, n...","[sport, advertising, football, network, game d...",2009.0,Unclassified,"[sport, advertising, football, network, game d..."

In [421]:
df['TYPE'].value_counts()

Startup                  6913
Unclassified             4138
Universities/Schools      286
Mature                    173
Government/Non-profit      72
Name: TYPE, dtype: int64