# **Data science internship assignement - Dealroom.co**
*Done by Oc√©ane Salmeron, December 2020*

## 1. Import libraries

In [268]:
import pandas as pd
import numpy as np

# Make numpy values easier to read.
np.set_printoptions(precision=3, suppress=True)

## 2. Import Data

In [269]:
file = 'Data/Data_Science_Internship_Assignment.xlsx'
data = pd.ExcelFile(file)
print(data.sheet_names)
df = data.parse('Data')

['Instructions', 'Data', 'Count', 'Scraping results']

Let's take a look at our raw data, and get more information about it with .shape and .info()

In [270]:
df.head(2)

,NAME,WEBSITE,TAGLINE,HQ REGION,HQ COUNTRY,HQ CITY,TAGS,LAUNCH DATE,GROWTH STAGE,LINKEDIN,TYPE
0,63336,http://63336.com,Ai-enabled q&a service that answers to various...,Europe,United Kingdom,London,mobile,"2002, September",late growth stage,NaN,NaN
1,@Futsal,http://futsaluk.net,Educational courses through the medium of spor...,Europe,United Kingdom,Birmingham,NaN,2008,early growth stage,https://www.linkedin.com/company/-futsal-group...,NaN

In [271]:
df.shape

(11582, 11)

In [272]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11582 entries, 0 to 11581
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   NAME          11582 non-null  object
 1   WEBSITE       11582 non-null  object
 2   TAGLINE       11453 non-null  object
 3   HQ REGION     11582 non-null  object
 4   HQ COUNTRY    11582 non-null  object
 5   HQ CITY       10908 non-null  object
 6   TAGS          9593 non-null   object
 7   LAUNCH DATE   11582 non-null  object
 8   GROWTH STAGE  8584 non-null   object
 9   LINKEDIN      8596 non-null   object
 10  TYPE          0 non-null      float64
dtypes: float64(1), object(10)
memory usage: 995.5+ KB

Our data has 11582 entries and 11 columns.

In [273]:
df.isna().sum()

NAME                0
WEBSITE             0
TAGLINE           129
HQ REGION           0
HQ COUNTRY          0
HQ CITY           674
TAGS             1989
LAUNCH DATE         0
GROWTH STAGE     2998
LINKEDIN         2986
TYPE            11582
dtype: int64

## 2. Cleaning the Data

First let's drop the column that are not relevant to our task.

In [274]:
df = df.drop(['WEBSITE', 'HQ REGION', 'HQ COUNTRY', 'HQ CITY', 'GROWTH STAGE', 'LINKEDIN'], axis=1)

In [275]:
df['LAUNCH DATE'] = pd.to_datetime(df['LAUNCH DATE'].astype(str), errors="coerce").dt.year

In [276]:
df.head(2)

,NAME,TAGLINE,TAGS,LAUNCH DATE,TYPE
0,63336,Ai-enabled q&a service that answers to various...,mobile,2002.0,NaN
1,@Futsal,Educational courses through the medium of spor...,NaN,2008.0,NaN

In [277]:
# split each of the strings into a list
df['TAGS'] = df['TAGS'].str.split(pat=';')

# collect all unique tags from those lists
tags = set(df['TAGS'].explode().values)

df.loc[df['TAGS'].isnull(), 'TAGS'] = df.loc[df['TAGS'].isnull(), 'TAGS'].apply(lambda x: [])

df.head()

,NAME,TAGLINE,TAGS,LAUNCH DATE,TYPE
0,63336,Ai-enabled q&a service that answers to various...,[mobile],2002.0,NaN
1,@Futsal,Educational courses through the medium of spor...,[],2008.0,NaN
2,#5 Magazine,Multi-platform digital lifestyle magazines abo...,"[publishing, branding, media, platform, entert...",2007.0,NaN
3,03Numbers,Planet Numbers are the leading provider of 03 ...,[],2008.0,NaN
4,077football News & Media,"077Football - the deep-rooted, hyperlocal foot...","[sport, advertising, football, network, game d...",2009.0,NaN

In [278]:
#Stopwords list from https://github.com/Yoast/YoastSEO.js/blob/develop/src/config/stopwords.js
stopwords = [ "a", "about", "above", "after", "again", "against", "all", "am", "an", "and", "any", "are", "as", "at", "be", "because", "been", "before", "being", "below", "between", "both", "but", "by", "could", "did", "do", "does", "doing", "down", "during", "each", "few", "for", "from", "further", "had", "has", "have", "having", "he", "he'd", "he'll", "he's", "her", "here", "here's", "hers", "herself", "him", "himself", "his", "how", "how's", "i", "i'd", "i'll", "i'm", "i've", "if", "in", "into", "is", "it", "it's", "its", "itself", "let's", "me", "more", "most", "my", "myself", "nor", "of", "on", "once", "only", "or", "other", "ought", "our", "ours", "ourselves", "out", "over", "own", "same", "she", "she'd", "she'll", "she's", "should", "so", "some", "such", "than", "that", "that's", "the", "their", "theirs", "them", "themselves", "then", "there", "there's", "these", "they", "they'd", "they'll", "they're", "they've", "this", "those", "through", "to", "too", "under", "until", "up", "very", "was", "we", "we'd", "we'll", "we're", "we've", "were", "what", "what's", "when", "when's", "where", "where's", "which", "while", "who", "who's", "whom", "why", "why's", "with", "would", "you", "you'd", "you'll", "you're", "you've", "your", "yours", "yourself", "yourselves" ]


df['TAGLINE'] = df['TAGLINE'].astype(str)

# Delete all kind of punctuation
df['TAGLINE'] = df['TAGLINE'].str.replace(r'[^\w\s]','')
    
# Change all words to lower caps
df['TAGLINE'] = df['TAGLINE'].str.lower()

df['TAGLINE']= df['TAGLINE'].apply(lambda x: x.strip() if(np.all(pd.notnull(x))) else x)

df['TAGLINE']= df['TAGLINE'].apply(lambda x: [item for item in x.split() if item not in stopwords] if(np.all(pd.notnull(x))) else x)

#df['TAGLINE']= df['TAGLINE'].apply(lambda x: x.strip())

#Remove stopwords
#df['TAGLINE']= df['TAGLINE'].apply(lambda x: [item for item in x.split() if item not in stopwords])
df.head()

,NAME,TAGLINE,TAGS,LAUNCH DATE,TYPE
0,63336,"[aienabled, qa, service, answers, various, que...",[mobile],2002.0,NaN
1,@Futsal,"[educational, courses, medium, sports, childre...",[],2008.0,NaN
2,#5 Magazine,"[multiplatform, digital, lifestyle, magazines,...","[publishing, branding, media, platform, entert...",2007.0,NaN
3,03Numbers,"[planet, numbers, leading, provider, 03, numbe...",[],2008.0,NaN
4,077football News & Media,"[077football, deeprooted, hyperlocal, football...","[sport, advertising, football, network, game d...",2009.0,NaN

In [279]:
df.loc[df['TAGLINE'].isnull(), 'TAGLINE'] = df.loc[df['TAGLINE'].isnull(), 'TAGLINE'].apply(lambda x: [])
df.head()

,NAME,TAGLINE,TAGS,LAUNCH DATE,TYPE
0,63336,"[aienabled, qa, service, answers, various, que...",[mobile],2002.0,NaN
1,@Futsal,"[educational, courses, medium, sports, childre...",[],2008.0,NaN
2,#5 Magazine,"[multiplatform, digital, lifestyle, magazines,...","[publishing, branding, media, platform, entert...",2007.0,NaN
3,03Numbers,"[planet, numbers, leading, provider, 03, numbe...",[],2008.0,NaN
4,077football News & Media,"[077football, deeprooted, hyperlocal, football...","[sport, advertising, football, network, game d...",2009.0,NaN

In [280]:
df.isna().sum()

NAME               0
TAGLINE            0
TAGS               0
LAUNCH DATE        3
TYPE           11582
dtype: int64

In [281]:
df['ALL']=df['TAGS']+df['TAGLINE']
df.head()

,NAME,TAGLINE,TAGS,LAUNCH DATE,TYPE,ALL
0,63336,"[aienabled, qa, service, answers, various, que...",[mobile],2002.0,NaN,"[mobile, aienabled, qa, service, answers, vari..."
1,@Futsal,"[educational, courses, medium, sports, childre...",[],2008.0,NaN,"[educational, courses, medium, sports, childre..."
2,#5 Magazine,"[multiplatform, digital, lifestyle, magazines,...","[publishing, branding, media, platform, entert...",2007.0,NaN,"[publishing, branding, media, platform, entert..."
3,03Numbers,"[planet, numbers, leading, provider, 03, numbe...",[],2008.0,NaN,"[planet, numbers, leading, provider, 03, numbe..."
4,077football News & Media,"[077football, deeprooted, hyperlocal, football...","[sport, advertising, football, network, game d...",2009.0,NaN,"[sport, advertising, football, network, game d..."

# 3. Classification

In [345]:
from collections import Counter
tags = list(df['TAGS'].explode().values)
tags= Counter(tags)
tags.most_common()

[(nan, 1989),
 ('software', 1861),
 ('media', 1087),
 ('mobile', 1059),
 ('design', 1009),
 ('data', 995),
 ('subscription', 877),
 ('platform', 854),
 ('finance', 776),
 ('deep tech', 740),
 ('social', 706),
 ('advertising', 616),
 ('search engine', 597),
 ('cloud technology', 529),
 ('saas', 491),
 ('video', 477),
 ('adtech', 468),
 ('app', 462),
 ('retail', 460),
 ('branding', 445),
 ('delivery', 437),
 ('cleantech', 437),
 ('community', 424),
 ('e-commerce', 394),
 ('local', 390),
 ('fintech', 380),
 ('commission', 365),
 ('navigation', 364),
 ('regtech compliance', 360),
 ('consulting services', 349),
 ('hardware', 340),
 ('online', 340),
 ('risk management', 336),
 ('risk', 332),
 ('service', 331),
 ('investing', 309),
 ('education', 304),
 ('payment', 302),
 ('communication', 301),
 ('content', 297),
 ('compliance', 294),
 ('ecommerce / trading', 287),
 ('monitoring', 284),
 ('banking', 280),
 ('management', 274),
 ('biotechnology', 266),
 ('automated technology', 261),
 ('manufacturing', 256),
 ('testing', 252),
 ('industrial technologies', 248),
 ('social media', 247),
 ('analytics', 244),
 ('solution', 240),
 ('game', 233),
 ('arts & culture', 225),
 ('printing', 224),
 ('technology', 224),
 ('enterprise software', 221),
 ('big data', 220),
 ('game development', 216),
 ('agency', 215),
 ('entertainment', 214),
 ('insurtech', 214),
 ('messaging', 212),
 ('shopping', 208),
 ('trading', 203),
 ('home', 200),
 ('reporting', 196),
 ('information technology', 186),
 ('publishing', 184),
 ('renting', 184),
 ('lighting', 181),
 ('storage', 179),
 ('digital', 178),
 ('mapping', 177),
 ('tech', 176),
 ('it', 170),
 ('led lighting', 168),
 ('wireless technology', 166),
 ('developer tools', 165),
 ('21st century skills', 156),
 ('seo', 155),
 ('marketing', 154),
 ('hosting', 153),
 ('freemium', 152),
 ('sharing economy', 151),
 ('business', 150),
 ('travel', 149),
 ('construction', 148),
 ('machine learning', 146),
 ('accounting', 140),
 ('ft 1000', 140),
 ('water', 140),
 ('supply chain management', 139),
 ('telecommunications', 138),
 ('recruitment', 136),
 ('3d technology', 132),
 ('computer vision', 131),
 ('charity', 126),
 ('human resources', 123),
 ('web', 123),
 ('process automation', 123),
 ('online community', 121),
 ('aviation & aerospace', 119),
 ('system engineering', 118),
 ('security', 117),
 ('artificial intelligence', 117),
 ('luxury', 116),
 ('pr', 115),
 ('chat', 115),
 ('party', 114),
 ('ecommerce', 114),
 ('health', 112),
 ('gaming', 111),
 ('sale', 111),
 ('website', 110),
 ('electric energy', 109),
 ('back office', 108),
 ('tv', 108),
 ('green technology', 108),
 ('sensor', 105),
 ('database', 104),
 ('apparel', 102),
 ('recognition technology', 101),
 ('learning', 97),
 ('women', 96),
 ('mortgages & lending', 92),
 ('internet', 92),
 ('fashion', 91),
 ('medical / healthcare', 90),
 ('deal comparison', 89),
 ('verification', 88),
 ('wholesale', 88),
 ('clothes', 86),
 ('on-demand', 86),
 ('food', 86),
 ('data analytics', 83),
 ('product', 83),
 ('furniture', 82),
 ('imaging technology', 80),
 ('oncology', 79),
 ('research', 79),
 ('energy', 79),
 ('sound technology', 79),
 ('support', 79),
 ('market', 78),
 ('automotive', 78),
 ('network', 77),
 ('cancer', 77),
 ('fuel', 77),
 ('content management', 77),
 ('virtual reality', 76),
 ('lead generation', 75),
 ('asset management', 74),
 ('booking', 74),
 ('ticketing', 73),
 ('wealth management', 72),
 ('new', 71),
 ('real estate', 71),
 ('packaging and containers', 70),
 ('measurement', 70),
 ('car', 70),
 ('innovation radar', 70),
 ('brokerage', 70),
 ('transportation', 69),
 ('music', 69),
 ('cleaning', 69),
 ('jobs / recruitment', 69),
 ('businesses', 68),
 ('financial', 68),
 ('event management', 68),
 ('interior design', 68),
 ('marketplace', 68),
 ('financial service', 67),
 ('customer management', 67),
 ('presentation', 66),
 ('decoration', 66),
 ('free', 65),
 ('intellectual property', 63),
 ('creating', 63),
 ('administration', 62),
 ('performance management', 62),
 ('cleaning services', 62),
 ('people', 61),
 ('price comparison', 61),
 ('crm', 60),
 ('invoicing', 58),
 ('pharmaceutical', 57),
 ('property', 57),
 ('classifieds', 57),
 ('companies', 56),
 ('medical', 56),
 ('sustainable development goals', 56),
 ('streaming', 56),
 ('open source', 55),
 ('technical assistance', 54),
 ('computer', 54),
 ('sport', 53),
 ('job', 53),
 ('solar energy', 53),
 ('insurance', 52),
 ('application', 52),
 ('world', 52),
 ('recycling', 52),
 ('certification', 51),
 ('collaboration', 51),
 ('comparison', 50),
 ('geopositioning', 50),
 ('social network', 50),
 ('enterprise', 49),
 ('marketing ', 49),
 ('connected device', 49),
 ('offer', 48),
 ('surgery', 47),
 ('international', 47),
 ('waste reduction', 47),
 ('appliances', 46),
 ('core sustainable impact', 46),
 ('predictive analytics', 46),
 ('oil & gas', 46),
 ('moving services', 45),
 ('shoes', 45),
 ('heating', 44),
 ('performance', 44),
 ('workspace', 44),
 ('training', 43),
 ('nanotech', 43),
 ('smart tech', 43),
 ('tourism', 43),
 ('email', 42),
 ('debt collection', 42),
 ('accommodation', 42),
 ('users', 42),
 ('creative solutions', 42),
 ('e-learning', 41),
 ('enterprise resource planning', 41),
 ('commerce', 40),
 ('blood', 40),
 ('industry', 40),
 ('consumer', 40),
 ('augmented reality', 40),
 ('parking', 39),
 ('money management', 39),
 ('consumer productivity', 39),
 ('quality', 39),
 ('device', 38),
 ('applicant tracking', 38),
 ('insight', 38),
 ('credit', 38),
 ('fitness', 37),
 ('legal', 37),
 ('authentification', 37),
 ('office space', 36),
 ('building', 36),
 ('colocation', 36),
 ('wearables', 36),
 ('electronic', 36),
 ('recommendation', 36),
 ('trading platform', 35),
 ('intelligence', 35),
 ('genetics', 35),
 ('distribution', 34),
 ('market intelligence', 34),
 ('real time', 34),
 ('photo', 33),
 ('neurology', 33),
 ('manufacturer', 33),
 ('business intelligence', 33),
 ('drones', 33),
 ('student', 32),
 ('publisher tools', 32),
 ('advisory', 32),
 ('wellness / beauty', 32),
 ('review', 32),
 ('dna', 31),
 ('adventure', 31),
 ('legal tech', 30),
 ('foreign exchange', 30),
 ('cybersecurity', 30),
 ('tracking', 30),
 ('visualization', 30),
 ('customer', 29),
 ('private', 29),
 ('capital market', 29),
 ('team collaboration', 29),
 ('hotel', 29),
 ('audio', 29),
 ('power', 29),
 ('engine', 28),
 ('health care', 28),
 ('renewable energies', 28),
 ('genome engineering', 28),
 ('order', 28),
 ('vacation', 28),
 ('infrastructure services', 28),
 ('home improvement', 28),
 ('direct-to-consumer', 28),
 ('innovation', 28),
 ('farming', 27),
 ('material', 27),
 ('vehicle', 27),
 ('conference', 27),
 ('directory', 26),
 ('experts', 26),
 ('tool', 26),
 ('medical device', 26),
 ('battery', 26),
 ('fintech related', 26),
 ('control systems', 26),
 ('ride', 26),
 ('ride sharing', 26),
 ('work', 26),
 ('phone', 26),
 ('buy', 26),
 ('web design', 25),
 ('time management', 25),
 ('cooling tech', 25),
 ('aerospace', 25),
 ('iphone', 25),
 ('accessories', 25),
 ('broadcast', 25),
 ('film production', 25),
 ('television', 25),
 ('live', 25),
 ('employment', 25),
 ('personalisation', 25),
 ('helping', 24),
 ('production', 24),
 ('space', 24),
 ('pricing', 24),
 ('online marketing', 24),
 ('discovery', 24),
 ('deal', 24),
 ('network security', 24),
 ('peer-to-peer', 24),
 ('process technologies', 24),
 ('sustainability', 24),
 ('blockchain', 24),
 ('experience', 24),
 ('loan', 24),
 ('freelancers', 23),
 ('android', 23),
 ('web hosting', 23),
 ('cloud computing', 23),
 ('alarm', 23),
 ('iot internetofthings', 23),
 ('logistic', 23),
 ('organisation', 22),
 ('sell', 22),
 ('care', 22),
 ('discount', 22),
 ('online learning', 22),
 ('audit', 22),
 ('clinical', 22),
 ('tea', 22),
 ('food delivery', 22),
 ('dietary supplements', 22),
 ('superfood', 22),
 ('personal finance', 21),
 ('crowdfunding', 21),
 ('b2b', 21),
 ('merchant tools', 21),
 ('industrial technology', 21),
 ('techscale200', 21),
 ('global', 21),
 ('consumer electronics', 20),
 ('cloud services', 20),
 ('user behavior', 20),
 ('used', 20),
 ('iot', 20),
 ('voice recognition', 20),
 ('interactive', 20),
 ('protection', 20),
 ('due diligence', 20),
 ('engagement', 20),
 ('diagnostic', 20),
 ('betting & gambling', 20),
 ('distribution & consumption', 20),
 ('leisure', 19),
 ('cardiology', 19),
 ('scientific', 19),
 ('exchange', 19),
 ('healthcare', 19),
 ('network management', 19),
 ('medical technology', 19),
 ('text analytics', 19),
 ('radio', 19),
 ('mobile app', 19),
 ('waste management', 19),
 ('semiconductor', 19),
 ('lifestyle', 18),
 ('children', 18),
 ('planning', 18),
 ('document management', 18),
 ('recovery', 18),
 ('omnichannel', 18),
 ('facebook', 17),
 ('broadband', 17),
 ('non-invasive', 17),
 ('kid', 17),
 ('school', 17),
 ('fleet management', 17),
 ('engineering services', 17),
 ('debate', 17),
 ('sharing', 17),
 ('patient care', 17),
 ('ride hailing', 17),
 ('travel & tourism', 17),
 ('speech recognition', 17),
 ('virtual', 17),
 ('backup', 16),
 ('course', 16),
 ('sme', 16),
 ('billing', 16),
 ('optimization', 16),
 ('ideas', 16),
 ('fin-tech', 16),
 ('agritech', 16),
 ('animation', 16),
 ('commercial real estate', 16),
 ('eye care', 16),
 ('card', 15),
 ('digital media', 15),
 ('graphic design', 15),
 ('energy storage', 15),
 ('governance', 15),
 ('drug', 15),
 ('energy efficiency', 15),
 ('account', 15),
 ('polymer', 15),
 ('law enforcement', 15),
 ('cash', 15),
 ('premium', 15),
 ('beauty', 15),
 ('crowdsourcing', 15),
 ('identity management', 14),
 ('industrial', 14),
 ('treatment', 14),
 ('daily deals', 14),
 ('process', 14),
 ('guide', 14),
 ('operators', 14),
 ('unmanned vehicles', 14),
 ('public sector', 14),
 ('retirement', 14),
 ('internet services', 14),
 ('anti money laundering', 14),
 ('project', 14),
 ('customer service', 14),
 ('multi-channel', 14),
 ('connectivity', 13),
 ('friends', 13),
 ('repair', 13),
 ('testimonials', 13),
 ('twitter', 13),
 ('carbon', 13),
 ('productivity software', 13),
 ('eco-friendly', 13),
 ('smart city', 13),
 ('discover', 13),
 ('robotic', 13),
 ('voip', 13),
 ('restaurant', 13),
 ('solar', 13),
 ('campaign', 13),
 ('therapeutics', 13),
 ('gift', 13),
 ('play', 13),
 ('flight management', 13),
 ('custom', 13),
 ('energy monitoring', 13),
 ('football', 12),
 ('stroke', 12),
 ('grooming', 12),
 ('it consulting', 12),
 ('autonomous & sensor tech', 12),
 ('e-mail marketing', 12),
 ('designers', 12),
 ('media and entertainment', 12),
 ('ipad', 12),
 ('personal health', 12),
 ('facility management', 12),
 ('equipment', 12),
 ('poker', 12),
 ('energy saving', 12),
 ('translation', 12),
 ('food and beverage', 12),
 ('mail', 12),
 ('agents', 12),
 ('fraud management', 11),
 ('scheduling', 11),
 ('resource', 11),
 ('business analytics', 11),
 ('operation', 11),
 ('wifi', 11),
 ('safety', 11),
 ('selling', 11),
 ('saving', 11),
 ('staffing', 11),
 ('book', 11),
 ('equity research', 11),
 ('contract management', 11),
 ('weather risk management', 11),
 ('diabetes', 11),
 ('embedding technology', 11),
 ('fund management', 11),
 ('feedback', 11),
 ('money transfer', 11),
 ('elderly care', 11),
 ('influencer marketing', 11),
 ('scoring', 11),
 ('family', 11),
 ('onboarding', 11),
 ('eyewear', 11),
 ('simulation', 11),
 ('chemistry', 11),
 ('currency', 11),
 ('virtualization', 10),
 ('airplanes', 10),
 ('air', 10),
 ('professional services', 10),
 ('social commerce', 10),
 ('coupons', 10),
 ('user experience', 10),
 ('alternative finance', 10),
 ('lenses', 10),
 ('point of sale', 10),
 ('camera', 10),
 ('display', 10),
 ('general', 10),
 ('drug development', 10),
 ('server', 10),
 ('research and development', 10),
 ('survey', 10),
 ('clients', 10),
 ('educational', 10),
 ('auction', 10),
 ('freelance', 10),
 ('utilities', 10),
 ('location analytics', 10),
 ('mechanical solutions', 10),
 ('call', 10),
 ('strategy', 10),
 ('procurement', 10),
 ('optical technology', 10),
 ('outsourcing', 10),
 ('alternative protein', 10),
 ('search engine optimization', 9),
 ('career', 9),
 ('silicon', 9),
 ('loyalty program', 9),
 ('bank', 9),
 ('live chat', 9),
 ('api', 9),
 ('writing', 9),
 ('camera surveillance', 9),
 ('ecologically friendly', 9),
 ('promotion', 9),
 ('jewellery', 9),
 ('tablet', 9),
 ('electric vehicle', 9),
 ('jobs recruitment', 9),
 ('life science', 9),
 ('language', 9),
 ('news & magazines', 9),
 ('employee', 9),
 ('employee management', 9),
 ('business development', 9),
 ('edtech', 9),
 ('algorithm', 9),
 ('properties', 9),
 ('veterinary', 9),
 ('integrations system', 9),
 ('microsoft tools', 9),
 ('innovation procurements', 9),
 ('organic', 9),
 ('digital marketing', 8),
 ('places', 8),
 ('3d printing', 8),
 ('conversion', 8),
 ('antibiotic', 8),
 ('immune system', 8),
 ('health diagnostics', 8),
 ('city', 8),
 ('charging technology', 8),
 ('vivatech2019', 8),
 ('partners', 8),
 ('south', 8),
 ('monetization', 8),
 ('assistance', 8),
 ('innovation management', 8),
 ('truck', 8),
 ('bus', 8),
 ('programming', 8),
 ('exhibition', 8),
 ('smartphone', 8),
 ('studio', 8),
 ('car purchasing', 8),
 ('architecture', 8),
 ('dating', 8),
 ('ios', 8),
 ('meeting management', 8),
 ('grow', 8),
 ('wine and spirits', 8),
 ('consumer goods', 8),
 ('cryptocurrencies', 8),
 ('telematics', 8),
 ('image recognition', 8),
 ('location based', 8),
 ('engaging', 8),
 ('measure', 8),
 ('permanent job', 8),
 ('pharmacy', 8),
 ('payroll', 8),
 ('tax', 8),
 ('plastic', 8),
 ('video production', 8),
 ('audience', 8),
 ('nutrition', 8),
 ('entrepreneur', 8),
 ('gardening', 8),
 ('pet', 8),
 ('web development', 7),
 ('cloud storage', 7),
 ('producer', 7),
 ('mobile marketing', 7),
 ('press', 7),
 ('medical imaging', 7),
 ('agencies', 7),
 ('100% uptime', 7),
 ('knowledge management', 7),
 ('professional', 7),
 ('table', 7),
 ('permanent and temporary jobs', 7),
 ('electric', 7),
 ('shipping', 7),
 ('google', 7),
 ('productivity', 7),
 ('efficiency', 7),
 ('computing', 7),
 ('deep learning', 7),
 ('web-based', 7),
 ('commodities', 7),
 ('marine', 7),
 ('project management', 7),
 ('anti fraud', 7),
 ('startup', 7),
 ('beverage', 7),
 ('start-up', 7),
 ('reputation', 7),
 ('product development', 7),
 ('records', 7),
 ('laboratories', 7),
 ('mobility', 7),
 ('component', 7),
 ('box', 7),
 ('reward', 7),
 ('remote', 7),
 ('disease', 7),
 ('travel booking', 7),
 ('watch', 7),
 ('youtube', 7),
 ('nursing', 7),
 ('blogging', 7),
 ('treasury', 7),
 ('programmatic', 7),
 ('options', 7),
 ('individuals', 7),
 ('p2p lending', 7),
 ('wordpress', 6),
 ('room', 6),
 ('cloud data services', 6),
 ('ict services', 6),
 ('group', 6),
 ('lithium ion batteries', 6),
 ('autotrading', 6),
 ('digital services', 6),
 ('voucher', 6),
 ('labeling', 6),
 ('baby', 6),
 ('snow', 6),
 ('toy', 6),
 ('change', 6),
 ('apple', 6),
 ('iaas', 6),
 ('app development', 6),
 ('flower', 6),
 ('cooking', 6),
 ('movie', 6),
 ('autonomous vehicles', 6),
 ('therapy', 6),
 ('portfolio management', 6),
 ('ppc', 6),
 ('coding', 6),
 ('bar', 6),
 ('surveillance', 6),
 ('bicycle', 6),
 ('registration', 6),
 ('style', 6),
 ('motion', 6),
 ('journalism', 6),
 ('enterprise solutions', 6),
 ('restaurant tech', 6),
 ('beer', 6),
 ('english', 6),
 ('ecological', 6),
 ('catering', 6),
 ('skills', 6),
 ('workflow', 6),
 ('pc gaming', 6),
 ('digital entertainment', 6),
 ('secure', 6),
 ('video games', 6),
 ('proptech', 6),
 ('teaching', 6),
 ('customization', 6),
 ('casino', 6),
 ('file', 5),
 ('console', 5),
 ('screening', 5),
 ('hospital', 5),
 ('coating', 5),
 ('group buying', 5),
 ('membership management', 5),
 ('mobile advertising', 5),
 ('mobile commerce', 5),
 ('intelligent systems', 5),
 ('agile', 5),
 ('growth', 5),
 ('apartment', 5),
 ('gig economy', 5),
 ('dermatology', 5),
 ('smart home', 5),
 ('footwear', 5),
 ('reading', 5),
 ('metal', 5),
 ('camping', 5),
 ('lending & mortgages', 5),
 ('cable and connectors', 5),
 ('hybrid', 5),
 ('update', 5),
 ('matchmaking', 5),
 ('mac', 5),
 ('funeral', 5),
 ('processor', 5),
 ('prospects', 5),
 ('jewelry', 5),
 ('defense', 5),
 ('cell technology', 5),
 ('molecular', 5),
 ('cost', 5),
 ('search engine optimisation', 5),
 ('html5', 5),
 ('health platform', 5),
 ('cosmetic', 5),
 ('property management', 5),
 ('rating', 5),
 ('tips', 5),
 ('privacy protection', 5),
 ('transformation', 5),
 ('doctor', 5),
 ('startuplithuania', 5),
 ('egroceries', 5),
 ('touch', 5),
 ('centre', 5),
 ('5g', 5),
 ('instruments', 5),
 ('online travel', 5),
 ('accomodation', 5),
 ('ebay', 5),
 ('inventory management', 5),
 ('financial exchanges', 5),
 ('stationery', 5),
 ('benefit', 5),
 ('cognitive', 5),
 ('behavior analytics', 5),
 ('video streaming', 5),
 ('on-demand services', 5),
 ('talent', 5),
 ('internship', 5),
 ('contracting', 5),
 ('spend management', 5),
 ('see cost management', 5),
 ('financial management', 5),
 ('natural', 5),
 ('case management', 5),
 ('wind', 5),
 ('machine', 5),
 ('coffee', 5),
 ('modeling', 5),
 ('leasing', 5),
 ('desktop', 5),
 ('chatbot', 5),
 ('theatre', 5),
 ('food supplement', 5),
 ('future', 5),
 ('interaction', 5),
 ('maintenance', 5),
 ('multimedia', 5),
 ('licensing', 5),
 ('motor', 5),
 ('sun protection', 5),
 ('browser', 5),
 ('laser technology', 5),
 ('wellbeing', 5),
 ('wellness', 5),
 ('esport', 5),
 ('train', 5),
 ('derivatives', 5),
 ('channel', 5),
 ('pet food', 5),
 ('mark', 4),
 ('leather goods', 4),
 ('interactive voice response', 4),
 ('life', 4),
 ('programmatic advertising', 4),
 ('outdoor', 4),
 ('car insurance', 4),
 ('insulation', 4),
 ('traffic', 4),
 ('financial analytics', 4),
 ('founders', 4),
 ('coach', 4),
 ('fashion & apparel', 4),
 ('machine to machine', 4),
 ('forecasting', 4),
 ('internet of things', 4),
 ('satellite', 4),
 ('sales analytics', 4),
 ('encryption', 4),
 ('pension', 4),
 ('metrology', 4),
 ('forensics', 4),
 ('paas', 4),
 ('club', 4),
 ('handmade', 4),
 ('php', 4),
 ('healthy', 4),
 ('3g', 4),
 ('fiber', 4),
 ('booking platform', 4),
 ('targeting', 4),
 ('bitcoin', 4),
 ('radiology', 4),
 ('merchandise', 4),
 ('precious metals', 4),
 ('car rental', 4),
 ('wind energy', 4),
 ('drag', 4),
 ('features', 4),
 ('natural language processing', 4),
 ('second hand', 4),
 ('credit card', 4),
 ('credit management', 4),
 ('jobs portal', 4),
 ('inspection', 4),
 ('service industry', 4),
 ('conversation', 4),
 ('format', 4),
 ('diet', 4),
 ('data protection', 4),
 ('evaluation', 4),
 ('prediction', 4),
 ('rail', 4),
 ('eco friendly', 4),
 ('video advertising', 4),
 ('ethical', 4),
 ('freight', 4),
 ('relationship management', 4),
 ('ethernet', 4),
 ('energy management', 4),
 ('hub', 4),
 ('offline', 4),
 ('disaster recovery', 4),
 ('biological', 4),
 ('fans', 4),
 ('editing', 4),
 ('generator', 4),
 ('plant-based', 4),
 ('gourmet', 4),
 ('smart grid', 4),
 ('productivity tools', 4),
 ('nearby', 4),
 ('protein', 4),
 ('oracle', 4),
 ('rich media', 4),
 ('communications infrastructure', 4),
 ('bags', 4),
 ('transport', 4),
 ('housing', 4),
 ('composite materials', 4),
 ('immersive technologies', 4),
 ('linux', 4),
 ('extraction', 4),
 ('transaction', 4),
 ('statistics', 4),
 ('tissue engineering', 4),
 ('public relations', 4),
 ('industrial automation', 4),
 ('buyers', 4),
 ('video marketing', 3),
 ('reputation management', 3),
 ('refrigeration', 3),
 ('scanning', 3),
 ('prototype', 3),
 ('console/pc gaming', 3),
 ('parts', 3),
 ('dealers', 3),
 ('nosql', 3),
 ('drives', 3),
 ('budgeting', 3),
 ('b2c', 3),
 ('dissertation', 3),
 ('metadata', 3),
 ('java', 3),
 ('prevention', 3),
 ('healthcare tech', 3),
 ('kyc', 3),
 ('human', 3),
 ('minimally invasive surgery', 3),
 ('micro lending', 3),
 ('cloud infrastructure', 3),
 ('dvd', 3),
 ('usb', 3),
 ('marketing platform', 3),
 ('networs', 3),
 ('mobile device', 3),
 ('all in one', 3),
 ('mobile application management', 3),
 ('suits', 3),
 ('cloud-based', 3),
 ('vaccines', 3),
 ('social data', 3),
 ('corporate', 3),
 ('decontamination', 3),
 ('trends', 3),
 ('managed services', 3),
 ('corporate training', 3),

In [346]:
tech=['software', 'mobile', 'design', 'data', 'deep tech', 'search engine', 'cloud technology', 'saas', 'video',
     'adtech', 'app', 'cleantech', 'e-commerce', 'fintech', 'regtech compliance', 'consulting services', 'hardware',
     'online', 'monitoring', 'social media', 'analytics', 'game', 'technology', 'enterprise software', 'big data',
     'tech', 'it', 'wireless technology', 'developer tools', 'seo', 'data analytics', 'imaging technology']
education=['21st century skills', 'research','educational','student', 'university', 'school']
government=['charity','medical / healthcare']
mature=['multinational']

In [347]:
def classify(x, tech, mature, education, government):
    if (x['LAUNCH DATE']>=1990) and set(x['ALL'])&set(tech):
        return 'Startup'
    elif set(x['ALL'])&set(education):
        return 'Universities/Schools'
    elif set(x['ALL'])&set(government):
        return 'Government/Non-profit'
    elif (x['LAUNCH DATE']<1990) and set(x['ALL'])&set(mature):
        return 'Mature companies'
    else:
        return 'Unclassified'

In [348]:
df['TYPE']=df.apply(classify, args=(tech,mature, education, government), axis=1)

In [349]:
df.head()

,NAME,TAGLINE,TAGS,LAUNCH DATE,TYPE,ALL
0,63336,"[aienabled, qa, service, answers, various, que...",[mobile],2002.0,Startup,"[mobile, aienabled, qa, service, answers, vari..."
1,@Futsal,"[educational, courses, medium, sports, childre...",[],2008.0,Universities/Schools,"[educational, courses, medium, sports, childre..."
2,#5 Magazine,"[multiplatform, digital, lifestyle, magazines,...","[publishing, branding, media, platform, entert...",2007.0,Unclassified,"[publishing, branding, media, platform, entert..."
3,03Numbers,"[planet, numbers, leading, provider, 03, numbe...",[],2008.0,Unclassified,"[planet, numbers, leading, provider, 03, numbe..."
4,077football News & Media,"[077football, deeprooted, hyperlocal, football...","[sport, advertising, football, network, game d...",2009.0,Unclassified,"[sport, advertising, football, network, game d..."

In [353]:
df['TYPE'].value_counts()

Startup                  6929
Unclassified             4393
Universities/Schools      186
Government/Non-profit      74
Name: TYPE, dtype: int64